################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BE/.vs/FDiamondShop/FileContentIndex
/.gitignore
